:root {
  --bg: #ebf0f7;
  --header: #fbf4f6;
  --text: #2e2e2f;
  --white: #ffffff;
  --light-grey: #c4cad3;
  --tag-1: #ceecfd;
  --tag-1-text: #2e87ba;
  --tag-2: #d6ede2;
  --tag-2-text: #13854e;
  --tag-3: #ceecfd;
  --tag-3-text: #2d86ba;
  --tag-4: #f3f5dc;
  --tag-4-text: #baad34;
  --purple: #7784ee;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: var(--text);
}

@mixin display {
  display: flex;
  align-items: center;
}

.app {
  // background-color: var(--bg);
  background-color: #f3f6fd;
  width: 100%;
  min-height: 100vh;
}

h1 {
  font-size: 30px;
}
.project {
  padding: 2rem;
  max-width: 75%;
  width: 100%;
  display: inline-block;
  background: white;
  margin: 20px;
  border-radius: 18px;
  &-info {
    padding: 2rem 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  &-participants {
    @include display;
    span,
    &__add {
      width: 30px;
      height: 30px;
      display: inline-block;
      background: var(--purple);
      border-radius: 100rem;
      margin: 0 0.2rem;
    }
    &__add {
      background: transparent;
      border: 1px dashed rgb(150, 150, 150);
      font-size: 0;
      cursor: pointer;
      position: relative;

      &:after {
        content: "+";
        font-size: 15px;
        color: rgb(150, 150, 150);
      }
    }
  }

  &-tasks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    grid-column-gap: 1.5rem;
  }
  &-column {
    background: #f2f6fa;
    border-radius: 18px;
    &-heading {
      margin-bottom: 1rem;
      @include display;
      justify-content: space-between;
      &__title {
        color: #425a7b;
        font-size: 20px;
      }
    }
  }
}

.task-details {
  border-left: 1px solid #d9e0e9;
  display: inline-block;
  height: 100%;
  vertical-align: top;
  padding: 1rem 2rem;
}

@media only screen and (max-width: 1300px) {
  .project {
    max-width: 100%;
  }
  .task-details {
    width: 100%;
    display: flex;
  }
  .tag-progress,
  .task-activity {
    flex-basis: 50%;
    background: var(--white);
    padding: 1rem;
    border-radius: 8px;
    margin: 1rem;
  }
}

@media only screen and (max-width: 1000px) {
  .project-column:nth-child(2),
  .project-column:nth-child(3) {
    display: none;
  }
  .project-tasks {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 600px) {
  .project-column:nth-child(4) {
    display: none;
  }
  .project-tasks {
    grid-template-columns: 1fr;
  }

  .task-details {
    flex-wrap: wrap;
    padding: 3rem 1rem;
  }
  .tag-progress,
  .task-activity {
    flex-basis: 100%;
  }
  h1 {
    font-size: 25px;
  }
}

.badge {
  border: 2px solid #141f5b;
  border-radius: 3px;
  color: #141f5b;
  display: inline-block;
  font-size: 0.92rem;
  font-weight: normal;
  line-height: 1;
  padding: 0.15em 0.34em;
  vertical-align: middle;
}

.btm-new-item {
  border: 0.8px solid #fff;
  color: #0c2ec7;
  background: rgba(12, 46, 199, 0.06);
  border-radius: 8px;
  padding: 6px 10px;
  font-weight: 400;
  font-size: 12px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
// text-transform: uppercase;
//     background-color: #4158D0;
//     background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
//     background-clip: text;
//     -webkit-background-clip: text;
//     color: transparent;

// text-transform: uppercase;
// background: -webkit-linear-gradient(#eee, #333);
// -webkit-background-clip: text;
// -webkit-text-fill-color: #00000033;

// text-transform: uppercase;
//     background: -webkit-linear-gradient(-70deg, #db469f, #2188ff);
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;

// text-transform: uppercase;
// background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
// -webkit-background-clip: text;
// -webkit-text-fill-color: transparent;
