$themes: (
  light: (
    primary: #126fb5,
    secondary: #ff5437,
    success: #4fe3c2,
    base: #ffffff,
  ),
  dark: (
    primary: #4ecbfb,
    secondary: #ff8975,
    success: #75ffe0,
    base: #004a7f,
  ),
);

// $primarylight:#126fb5;
// $secondaryLight:#ff5437;
// $successLight:#4fe3c2;
// $baseLight:#ffffff;

// $primaryDark:#4ecbfb;
// $secondaryDark:#ff8975;
// $successDark:#75ffe0;
// $baseDark:#004a7f;

// default-theme {
//   $light-theme: rgba(94,161,215,0.3);
//   $dark-theme: #5EA1D7;
//   $darker-theme: #57647A;
//   $very-dark-theme: #455061;
// }

// dark-theme {
//   $light-theme: black;
//   $dark-theme: brown;
//   $darker-theme: black;
//   $very-dark-theme: black;
// }

// light-theme {
//   $light-theme: black;
//   $dark-theme: brown;
//   $darker-theme: black;
//   $very-dark-theme: black;
// }
