.note {
  padding: 2rem;
  background: white;
  margin: 20px;
  border-radius: 18px;
  min-height: 80vh;
}

.circle {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-right: 8px;
  border: 1px solid #cccbcb;
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.note-btn {
  border: 0.8px solid #fff;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  padding: 2px 13px;
  font-weight: 400;
  font-size: 12px;
  -webkit-border-radius: 8px;
}
.btn-delete {
  color: #df3670;
}
.btn-edit {
  color: #096c86;
}

.font-small {
  font-size: small;
}

.btn-new-note {
  border: 0.8px solid #fff;
  color: #0c2ec7;
  background: rgba(12, 46, 199, 0.19);
  border-radius: 8px;
  padding: 6px 10px;
  font-weight: 400;
  font-size: 16px;
  -webkit-border-radius: 8px;
}
